---
import Section from "@/components/Section.astro";

import { skills } from "@cv";
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding-top: 0.75rem;
  }

  li {
    border-radius: 0.5rem;
    background-color: #eeee;
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.25rem 0.6rem;
  }
</style>
